# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [2]:
str_split = s.split()
print(str_split)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [9]:
sen = "The diameter of Earth is {} kilometers.".format(diameter)
print(sen)

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [11]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [22]:
val = d['k1'][3]
val = val['tricky'][3]
val = val['target'][3]
print(val)

hello

# Numpy

In [23]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [46]:
array = np.zeros(10,dtype='int32')
print(array)

[0 0 0 0 0 0 0 0 0 0]

In [49]:
array = np.full(10,5,dtype = "int32")
print(array)

[5 5 5 5 5 5 5 5 5 5]

## 5. Create an array of all the even integers from 20 to 35

In [31]:
array = np.arange(20,36,2)
print(array)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [32]:
array = np.arange(0,9).reshape(3,3)
print(array)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [36]:
a = np.array([1,2,3])
b = np.array([4,5,6])
c = np.concatenate((a,b))
c

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [37]:
import pandas as pd

In [38]:
data = [["Elon",51],["Pablo",40],["Bukowski",70]]
dataframe = pd.DataFrame(data,columns = ['Name','Age'])
print(dataframe)

       Name  Age
0      Elon   51
1     Pablo   40
2  Bukowski   70

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [50]:
import datetime as dt
import pandas as pd

initial_date = dt.datetime.strptime("01-01-2023", "%d-%m-%Y")
series = pd.date_range(initial_date, periods=41)
print(series.strftime("%d-%m-%Y"))

Index(['01-01-2023', '02-01-2023', '03-01-2023', '04-01-2023', '05-01-2023',
       '06-01-2023', '07-01-2023', '08-01-2023', '09-01-2023', '10-01-2023',
       '11-01-2023', '12-01-2023', '13-01-2023', '14-01-2023', '15-01-2023',
       '16-01-2023', '17-01-2023', '18-01-2023', '19-01-2023', '20-01-2023',
       '21-01-2023', '22-01-2023', '23-01-2023', '24-01-2023', '25-01-2023',
       '26-01-2023', '27-01-2023', '28-01-2023', '29-01-2023', '30-01-2023',
       '31-01-2023', '01-02-2023', '02-02-2023', '03-02-2023', '04-02-2023',
       '05-02-2023', '06-02-2023', '07-02-2023', '08-02-2023', '09-02-2023',
       '10-02-2023'],
      dtype='object')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [42]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [45]:
dataframe = pd.DataFrame(lists)
dataframe

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24